body {
    font-family: 'Courier New', Courier, monospace;
    background:  #e6b980 
}

h1 {
    text-align: center;
    color: #402a23;

}

img {
    display: block;
    margin: auto;
    
}

.container {
    text-align: center;
}

.recipe-link {
    
    color: #402a23;
    display: inline-block;
    text-align: left;
    font-size:x-large;
    margin-top: 30px;
    
    
}

.recipe-in {
    color: #000000;
    display: block;
    text-align: left;
    font-size:medium;
    margin: 0 auto;

}

.oli {
    display: inline-block;
    text-align: left;
    font-size:medium;
    

}

.oli li {

    margin-bottom: 0.5em;
}



.recipe-link li {

    margin-bottom: 0.8em;
}

a {
    color:inherit;

}

#card-ingredients {
    background: #6c3c0c;
    width: 24%;
    display: block;
    margin: 0 auto;
    
    border: solid black;
    padding-bottom: 1%;
    padding-right: 8px;
    

}

button{
    color: #E6B980  ;
    background-color: #402a23;
    font-size: 16px;
    transition-duration: 0.3s;
    position: absolute;
    

}

button:hover{

    font-size: 12px;

}
